@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Raleway:wght@300&display=swap');

body{
    width:1000px;
    margin:auto;
}
#mainSection{
    display: grid;
    grid-template-rows: 130px auto 30px;
    gap:50px;
}

header{
    display: grid;
    grid-template-columns: 150px auto;
    gap:30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gainsboro;
}
header img{
    width: 140px;
    height: 100px;
    float: left;
    margin-left: 25px;
}
header nav{
    display: block;
    margin: 10px 30px;
}
header nav a{
    padding: 10px 10px;
    margin: 0px 30px;
    text-decoration: none;
    font-size: large;
    text-transform: uppercase;
    background-color: #464660;
    color: aliceblue;
    transition: all 250ms;
    font-family: 'Merriweather', serif;

}
header nav a:hover{
    color:#464660;
    background-color: aliceblue;
}

#imgSection {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap:10px;
margin-bottom: 50px;
}
#imgSection img{
   width: 100%;
   height: 300px;
   margin: auto;
   object-fit: cover;
   
}

h2{
    color:#464660;
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 50px;
    font-family: 'Merriweather', serif;


}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gainsboro;
    color: #464660;
    font-size: medium;
    text-transform: capitalize;
    font-family: 'Merriweather', serif;

}
ul{
    list-style:decimal;
    padding-left: 20px;
}
li{
    font-size: medium;
    line-height: 1.2;
}
button{
    color:aliceblue;
    background-color: #464660;
    border-radius: 1cm;
    padding: 10px 10px;
    margin-bottom: 50px;
    font-family: 'Raleway', sans-serif;
}
